.square{
    width: 100px;
    height: 100px;
    background-color: rgb(223, 61, 61);
    border: 1px solid red;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 1px solid orangered;
    border-radius: 50%;
}
.rectangle{
    width: 150px;
    height: 100px;
    background-color: rgb(69, 112, 112);
    border: 1px solid rgb(43, 71, 71);
}
.triangle {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #3498db;
}
.hexagon {
    position: relative;
    width: 100px;
    height: 57.74px;
    background-color: #3498db;
    margin: 28.87px 0;
}

.hexagon::before,
.hexagon::after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagon::before {
    bottom: 100%;
    border-bottom: 28.87px solid #3498db;
}

.hexagon::after {
    top: 100%;
    border-top: 28.87px solid #3498db;
}
.oval{
    width: 150px;
    height: 100px;
    background-color: pink;
    border: 1px solid rgb(252, 142, 160);
    border-radius: 50%;
}
.moon {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #e0dd16;
    border-radius: 50%;
}

.moon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}
.heart {
    position: relative;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    transform: rotate(-45deg);
}

.heart::before,
.heart::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    border-radius: 50%;
}

.heart::before {
    top: -50px;
    left: 0;
}

.heart::after {
    left: 50px;
    top: 0;
}