body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.perent{
    width: 200px;
    height: 200px;
    background-color: red;
    transform: translate(80px, 80px);
    transform: scale(0.5);
    transform: rotate(30deg);
}

.child{
    width: 100px;
    height: 100px;
    background-color: aqua;
    
    transition-timing-function: ease-out;
    transition-duration: 2s;
    transition-property: transform, background-color;
    transform-origin: top left;
    transition-delay: 2s;
}


/* 
translate - იღებს 2 მნიშვნელობას : x,y შესაბამისად უცვლის პოზიციას
scale - უცვლის ელემენტს ზომას მნიშვნელობის შესაბამისად
rotate - აბბრუნებს ელემენტს გადაცემული ერთეულით: გრადუსებით
Degrees - გრადუსები
*/